# Base de datos
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/consorcio365

# JWT
JWT_SECRET=un_string_largo_y_random_aca

# Servidor
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Mail 
RESEND_API_KEY=tu_api_key